# Ignore virtual environment
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
desktop.ini

# VSCode settings
.vscode/

# PyCharm settings
.idea/
